.App {
  text-align: center;
}

.puzzle {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  width: 912px;
  border: 2px solid black;
  margin: auto;
}
