:root {
  --cell-size: 100px;
  --fixed-color: #262626;
  --guess-color: #464646;
  --error-color: #f24556;
  --btn-color: #4551f2;
  --selected-bg-color: rgb(250, 250, 176);
  --cell-border: #959594;
  --fixed-bg-color: #e6e6e6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}
