:root {
  --cell-size: 100px;
  --fixed-color: #262626;
  --guess-color: #464646;
  --pencil-color: #6a6a6a;
  --error-color: #f24556;
  --btn-color: #e6e6e6;
  --selected-bg-color: #ffda01;
  --cell-border: #959594;
  --fixed-bg-color: #e6e6e6;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;800&display=swap");

body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}
